<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773386721810-42koo3p3h3viv43peqltl62dhcp8iil5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773386721810-42koo3p3h3viv43peqltl62dhcp8iil5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773386721810-2boui5bqcd9dducb3c511r4nbn7u05qn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClFXz-7uy_s1jYOMXarUfQxIIR9FOL2H8</string>
	<key>GCM_SENDER_ID</key>
	<string>773386721810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrtKozanis</string>
	<key>PROJECT_ID</key>
	<string>hrt-kozanis</string>
	<key>STORAGE_BUCKET</key>
	<string>hrt-kozanis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773386721810:ios:ccb6b1d4958b4b5e4416cb</string>
</dict>
</plist>